body{
  font-family: 'Roboto', sans-serif;
}
.about{
  margin: 15px;
}
.about li{
  display: flex;
  gap: 50px;
  
}

.about_asos   {
  background-color:#45464FFF ;
  color: white;
  height: 50px;
  width: 1201px;
  position: fixed;
  left: 10;
  top: 05px;
}

.about ul{
  position: absolute;
  left: 650px;
  top: 5px;
}
.about a{
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-decoration: none;
}
.about h1{
  color: #FF8A56;
  font-size: 50px;
  position: absolute;
  top: 150px;
}
.about .h_1{
  color: black;
  font-size: 50px;
  position: absolute;
  top: 200px;
}
.about p{
  position: absolute;
  top: 350px;
  font-size: 15px;
  color: #666666;
}
.about img{
  height: 590px;
  position: absolute;
  top: -50px;
  left: 750px;
}
.btn1{
  height: 35px;
  position: absolute;
  top: 500px;
  left: 50px;
  background-color: white;
  border: white;
}
.btn2{
  height: 35px;
  position: absolute;
  top: 500px;
  left: 131px;
  background-color: white;
  border: white;
}
.btn1:hover{
  color:white;
  background-color:black;
  border:black;
}
.btn2:hover{
  color:white;
  background-color:black;
  border:black;

  }
.trusted p{
  display: flex;
  margin-left:575px;
  margin-top: 600px;
}
.trusted img{
  margin-left:10% ;
  margin-top: 15px;
}
.services h3{
  color: #FF5E69;
  display: flex;
  
  margin-left:575px;
  margin-top: 95px;
}
.services h1{
  
  display: flex;
  
  margin-left: 409px;
  margin-top: 9px;
}
.services_1{
  margin-left: 80px;
  margin-top: 80px;
}
.services_1 ul{
  list-style-type: square;
  margin-left:-25px;
}
.services_2{
  margin-left: 410px;
  margin-top: -295px;
  
}
.services_2 ul{
  list-style-type: square;
  margin-left:-25px;
}
.services_3{
  margin-left: 750px;
  margin-top: -295px;
}
.services_3 ul{
  list-style-type: square;
  margin-left:-25px;
}
.services_1 li{
  margin: 5px 0; 
}
.services_2 li{
  margin: 5px 0; 
}
.services_3 li{
  margin: 5px 0; 
}
.projects h3{
color:#b16cea ;
position: absolute;
left: 35px;
}
.projects h1{

position: absolute;
left: 35px;
top: 1300px;
}
.projects img{
width: 950px;
position: absolute;
left: 35px;
top: 1390px;
}
.view{
  border: white;
  background-color: white;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 1325px;
  left:850px;
  font-size: 18px;
}
#contact{
  position: absolute;
  top: 1900px;
  margin:  15px;
}





@media only screen and (max-width: 393px) {
  .about li{
  display: flex;
  gap: 20px;
  
}

.about_asos   {
  background-color:#45464FFF ;
  color: white;
  height: 90px;
  width: 393px;
  position: fixed;
  left: 10;
  top: 05px;
}

.about ul{
  position: absolute;
  left: 0px;
  top: 40px;
}
 .about a{
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-decoration: none;
}
.about h1{
  color: #FF8A56;
  font-size: 25px;
  position: absolute;
  top: 150px;
}
.about .h_1{
  color: black;
  font-size: 50px;
  position: absolute;
  top: 170px;
}
br{
  display: none;
}
.about p{
  position: absolute;
  top: 330px;
  font-size: 16px;
  color: #666666;
}
.about img{
  height: 380px;
  position: absolute;
  top: 320px;
  left: 50px;
}
.btn1{
  height: 35px;
  position: absolute;
  top: 750px;
  left: 30px;
  font-size: 20px;
  background-color: white;
  border: white;
}
.btn2{
  height: 35px;
  position: absolute;
  top: 750px;
  left: 141px;
  font-size: 20px;
  background-color: white;
  border: white;
}
.btn1:hover{
  color:white;
  background-color:black;
  border:black;
}
.btn2:hover{
  color:white;
  background-color:black;
  border:black;

  }
.trusted p{
  display: flex;
  margin-left:135px;
  margin-top: 850px;
}
.trusted img{
  width: 390px;
  margin-left: -60px;
  margin-top: 15px;
}
.services h3{
  color: #FF5E69;
  display: flex;
  
  margin-left:135px;
  margin-top: 60px;
}
.services h1{  
  display: flex;
  margin-left: 30px;
  margin-top: 9px;
}
.services_1{
  margin-left: 20px;
  margin-top: 80px;
}
.services_1 ul{
  list-style-type: square;
  margin-left:-25px;
  
}
.services_2{
  margin-left: 20px;
  margin-top: 105px;
  
}
.services_2 ul{
  list-style-type: square;
  margin-left:-25px;
}
.services_3{
  margin-left: 20px;
  margin-top: 30px;
}
.services_3 ul{
  list-style-type: square;
  margin-left:-25px;
}

.projects h3{
color:#b16cea ;
position: absolute;
left: 35px;

}
.projects h1{

position: absolute;
left: 35px;
top: 2200px;
}
.projects img{
width: 360px;
position: absolute;
left: 15px;
top: 2290px;
}
.view{
  border: white;
  background-color: white;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 2225px;
  left:250px;
  font-size: 18px;
}


#contact{
  background-color: black;
  color: white;
  height: 50px;
}
.a1{
  position: absolute;
  top: 520px;
  left: -15px;
  background-color: black;
  color: white;
  height: 100px;
  width: 385px;
  padding-left: 15px;
}
.a2{
  position: absolute;
  top: 550px;
  width: 393px;
  left: -15px;
  padding-left: 15px;
  color: white;
  
}
}